%span.solved-icons--success
  = link_to fa_icon("thumbs-up"), criterium_path(criterium, criterium: {story_id: criterium.story_id, dev_test: false}), {class: "", title: "Click to mark criteria as unresolved", id: "dev_test_button_" + dom_id(criterium), remote: true, method: "put", title: "Click to mark criteria as unresolved"}
