Resolved
= link_to "Mark Unresolved", criterium_path(criterium, criterium: {story_id: criterium.story_id, functional_test: false}), {class: "small alert button", id: dom_id(criterium), remote: true, method: "put"}