%span.solved-icons--success
  = link_to fa_icon("check-square"), criterium_path(criterium, criterium: {story_id: criterium.story_id, functional_test: false}), {class: "", id: dom_id(criterium), remote: true, title: "Click to mark criteria as unresolved", method: "put"}