%div.pure-g-r
  %div.pure-u-1-3
    &nbsp;
  %div.pure-u-1-3
    %h3 Choose your login option
    - if Settings.auth.windows
      %p
      = link_to "Windows ", "/ldap/welcome", {class: "pure-button pure-button-success"}
    - if Settings.auth.twitter
      %p
      = link_to "Twitter ", "/auth/twitter", {class: "pure-button pure-button-success"}
    - if Settings.auth.github
      %p
      = link_to "Github ", "/auth/github", {class: "pure-button pure-button-success"}
  %div.pure-u-1-3
    &nbsp;