- if iteration
  %div.total-values
    = render partial: "stories/total_values", locals: {iteration: iteration}

%ul.sortme.story-list.ui-sortable{id: list_type}
  - stories.each do |story|
    = render partial: "stories/story_detail", locals: {story: story, move: move}