<% hide_project_list_link %>

<div class="row">
	<div class="large-12 columns">
		<h1>Project list</h1>

    <a class="small button" href="/projects/new">Create project</a>

		<ul class="project-list">
		<% @projects.each do |p| %>
      <h3><%= p.name %></h3>
			<li class="project_#{p.id}">
        <div class="project-details">
          <ul class="project-details-list">
            
            <li>
              <span class="iteration-story-count iteration-story-count-project-#{p.id}">
                <%= link_to  "Iteration stories: #{p.iterations.last.stories.size}", current_project_stories_url(p) %>
              </span>
              <span class="iteration-count">(<%= p.iterations.size %> iterations)</span>
            </li>
            <li>
              <span class="story-count">
                <%= link_to  "Icebox: #{p.stories.size - p.iterations.last.stories.size} stories", icebox_project_stories_url(p) %>
              </span>
            </li>
          </ul>
        </div>
      </li>
		<% end %>
		</ul>


	</div>
</div>

