<% hide_project_list_link %>

<div class="row">
	<div class="large-12 columns">
		<h1>Project list</h1>

    <a class="small button" href="/projects/new">Create project</a>

		<ul class="project-list">
		<% @projects.each do |p| %>
			<li>
        <a href="<%= project_path p %>"><%= p.name %></a>
        <span class="story-count">(<%= p.stories.size %> stories)</span>
      </li>
		<% end %>
		</ul>


	</div>
</div>

