%ul
  - @story.comments.each do |comment|
    %li
      %div.panel
        %span= comment.message
        %br
        %span.story-comments--timestamp= comment.created_at.strftime("%Y-%m-%d %H:%M:%S")

