%div.row
  %div.large-6.columns
    %h3= "Current Iteration: " + @project.name 
%div.row
  %div.large-12.columns
    = link_to 'New story in iteration', new_project_story_path(@project, {iteration_id: @project.iterations.last.id}), { class: "small button"}
    = link_to 'Resort by priority', resetsortorder_project_path(@project, iteration_id: @project.iterations.last.id, redirect: project_path(@project)), { class: "small button", method: "post"}

    %div.story-container
      = render partial: "projects/story_list", locals: { stories: @iteration, list_type: "iteration_ul", move: 0 }
