%div.pure-g-r
  %div.pure-u-1-3
    &nbsp;
  %div.pure-u-1-3
    %h1
      Create new iteration for
      = @project.name
    %p
      = render partial: "form"
  %div.pure-u-1-3
    &nbsp;
