.project-list {
  li {
    list-style-type: none;
    font-size: 1.4em;
  }
}

.project-details-list {
  li {
    font-size: 0.6em;
  }
}

.project-list-link {
  float: right; margin: 10px 10px 0 0 
}

.project-details {
  color: #999;
}