.story-count {
  color: #999;
}

.story-list {
  list-style-type: none;
  border-top: 2px solid #777;
  border-bottom: 2px solid #777;
  padding-left: 0px;
  li {
    padding: 5px 5px 5px 5px;
  }
}

.story {
  border-top: 3px solid #777;
  margin: 0 0 20px 0;
}

.story:last-child {
  border-bottom: 3px solid #777;
}

.story-valuation {
  padding-top: 5px;
  div {
    padding: 5px;
    text-align: center;
  }
}

.story-valuation--bv, .story-valuation--cv {
  // border: 1px solid #777;
  font-weight: bold;
  font-size: 1.6em;
}

.story-valuation--cv {
  margin-bottom: 5px;
}

.story-details--edit-button {
  position: absolute;
  bottom: -15px;
  right: 5px;
}

.story-details--iteration-button {
  position: absolute;
  bottom: 25px;
  right: 5px;
}

.icebox-iteration-button {
  float: right;
  clear: both;
}

.story-details span {
  font-weight: bold;
  font-size: 1.3em;
}

.story-details--comments {
  display: block;
  float: right;
  background: image-url("bubble.svg") no-repeat right center;
  background-size: 20px 20px;
  margin-top: 10px;
  padding: 0 30px 0px 0;
}

.story-id {
  font-size: 50px;
  color: #777;
  text-align: center;
}
.story-id a {
  text-decoration: none;
  color: black;
}

// Story Statuses
.status-unstarted {
  background-color: #F7C26D;
}

.status-in-progress {
  background-color: #07AB1A;
}

.status-blocked {
  background-color: #E00404;
}

.status-cancelled {
  background-color: #6C6C70;
}

.status-complete {
  background-color: #607DF0;
}

.story-form {
  label {
    font-size: 1.1em;
  }

  input, textarea {
    #font-size: 1.3em;
  }

  #story_behavior {
    height: 50px;
  }

  #story_goal {
    height: 50px;
  }
}

.comments-container {
  ul {
    list-style-type: none;
  }
}

.story-comments {
  li {
    list-style-type: none;
    background: url("bubble.svg") no-repeat left top;
    background-size: 30px 30px;
    padding: 0 0 0px 50px;
    margin: 0 0 10px 0;
    min-height: 30px;
  }
}

.story-comments--timestamp {
  font-size: 0.7em;
  text-align: right;
}

.story-text {
  font-weight: bold;
}

.story-values {
  margin: 0 auto;
  font-weight: bold;
  font-size: 1.6em;
  text-align: center;
  color: #777;
}

.criteria-container table {
  width: 100%;
}

.solved-icons--success {
  font-size: 32px;
  vertical-align: middle;
  a {
    color: green;
  }
}

.solved-icons--failure {
  font-size: 32px;
  vertical-align: middle;
  a {
    color: red;
  }
}

.criteria-action {
  font-size: 16px;
  vertical-align: middle;
  a {
    color: red;
  }
}

.criteria-comments {
  font-size: 22px;
  float: right;
}

.criteria-comments-list {
  list-style-type: none;
}

.comment-time {
  font-size: 9px;
}

.login-icons {
  font-size: 22px;
  font-weight: bold;
}

#user_nav {
  padding-top: 10px;
  float: right;
}

ul.users {
  list-style-type: none;
  padding-left: 10px;
}

.delete-link a {
  color: red;
}

.container {
  padding: 0px 10px 0px 10px;
}

.custom-table th {
  background-color: #4db7ca;
  color: #000;
}

.pure-button-xsmall {
  font-size: 70%;
}

.pure-button-small {
  font-size: 85%;
}

.pure-button-large {
  font-size: 110%;
}

.pure-button-xlarge {
  font-size: 125%;
}

.pure-button-success,
.pure-button-error,
.pure-button-warning,
.pure-button-secondary {
  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.pure-button-success {
  background: rgb(28, 184, 65); /* this is a green */
}

.pure-button-error {
  background: rgb(202, 60, 60); /* this is a maroon */
}

.pure-button-warning {
  background: rgb(223, 117, 20); /* this is an orange */
}

.pure-button-secondary {
  background: rgb(66, 184, 221); /* this is a light blue */
}