.story-list {
  list-style-type: none;
}
.story {
  border: 1px solid #333;
}
.story-valuation {
  border-right: 1px solid #333;
  padding-top: 5px;
  div {
    padding: 5px;
    text-align: center;
  }
}
.story-valuation--bv, .story-valuation--cv {
  border: 1px solid #777;
}
.story-valuation--status {
  transform: rotate(-90deg);
  -ms-transform: rotate(-90deg); /* IE 9 */
  -webkit-transform: rotate(-90deg); /* Safari and Chrome */
  min-height: 100px;
}

.story-details .button {
  display: block;
  float: right;
  clear: both;
}

.story-details--comments {
  display: block;
  float: right;
  background: url("bubble.svg") no-repeat left center;
  background-size: 20px 20px;
  padding: 0 0 0px 30px;
}

// Story Statuses
.status-unstarted {
  background-color: #F7C26D;
}
.status-in-progress {
  background-color: #07AB1A;
}

.status-blocked {
  background-color: #E00404;
}

.status-cancelled {
  background-color: #6C6C70;
}

.status-complete {
  background-color: #607DF0;
}

.story-form {
  label {
    font-size: 1.1em;
  }

  input, textarea {
    font-size: 1.3em;
  }

  #story_behavior {
    height: 80px;
  }
}

.story-comments {
  li {
    list-style-type: none;
    background: url("bubble.svg") no-repeat left top;
    background-size: 30px 30px;
    padding: 0 0 0px 40px;
    margin: 0 0 10px 0;
    min-height: 30px;
  }

  .panel {
    padding: .7em;
  }
}

.story-comments--timestamp {
  font-size: 0.7em;
  text-align: right;
}

